* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.perfil {
  background-color: #0c0b0b;
  color: #fff;
  height: 600px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
    font-size: 32px;
    
  }
  
 

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  
  text-decoration: none;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar li a:hover {
    color: lightseagreen 
  }

.btn-cv {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: #fffefe;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.btn-cv:hover {
  background-color: #ddd;
}

.btn-cv:active {
  background-color: #ccc;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}

.informacionPortafolio h4 {
  color: #fff;
  font-size: 18px;
}

.informacionPortafolio h1 {
  font-size: 60px;
  margin: 20px 0;
}

.informacionPortafolio span {
  color: lightseagreen;
}

.boletin form {
  margin-top: 20px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .popup img {
    width: 100px;
    height:100px;
  }
  
  .popup p {
    margin-top: 10px;
    color: green;
    font-weight: bold;
  }
textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
  }

 input[type="submit"] {
  padding: 10px 30px;
  background-color: lightseagreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
  
}
.imagen-perfil {
    position: absolute;
    top: 60%;
    right: 100px;
    transform: translateY(-50%);
    max-width: 100%;
  }

.acerca {
  background-color:rgba(37, 36, 36, 0.495);
  padding: 10px 30px;
  
 
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



.textoAcerca h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-style: italic;
  text-transform: uppercase;
}

.textoAcerca h5 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.textoAcerca p {
    color: #131313;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: justify;
    text-transform: uppercase;
    font-style: italic;
  }
.idiomas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-style: italic;
  text-transform: uppercase;
  margin-bottom: 30px;
  }
  
  .idiomas li {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

  }
  
  .idioma-nombre {
    flex: 0.2;
    font-style: italic;
  text-transform: uppercase;
    
  }
  
  .nivel-barra {
    width: 150px;
    height: 10px;
    background-color: #b72d2d;
    border-radius: 5px;
    position: relative;
  }
  
  .nivel-indicador {
    height: 100%;
    background-color: rgb(13, 249, 13);
    border-radius: 5px;
    display: block;
    transition: width 0.3s ease;
    width: 0; 
  }
  .textoAcerca .button {
    text-decoration: none;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

  }
  
  .textoAcerca .button:hover {
    background-color: #008080;
  }

.servicio {
background-color: #0c0b0b;
  padding: 40px 20px;
}

.titulo h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  
}

 #btn-siguiente {
    background-color: lightseagreen;
    color: #0f0e0e;
    border: none;
    border-radius:20px;
    padding: 13px 162px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 423px;
  }

  
.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .tarjeta {
    height: 470px;
    width: 365px;
    background-color: #191919;
    padding: 10px 35px;
    margin-bottom: 11px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease; 
  }
  
  .tarjeta:hover {
    transform: scale(1.1); 
    filter: brightness(80%); 
  }
  
  .tarjeta i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(232, 232, 232);
  }
  
  .tarjeta h5 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .tarjeta .imagen-proyecto {
    height: 250px; 
    width: 100%; 
  }
  
  .tarjeta .imagen-proyecto img {
    object-fit: cover; 
    height: 100%; 
    width: 100%; 
  }
  .tarjeta p{
    color: #fff;
  }
  
 
  
  .tarjeta .boton {
    background-color: lightseagreen;
    color: #0f0e0e;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease; 
  }
  
  .tarjeta .boton:hover {
    background-color: rgb(60, 199, 60); 
  }

.contacto {
  background-color: lightseagreen;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.contacto p {
  font-size: 24px;
  margin-bottom: 20px;
}

.contacto .boton-dos {
    background-color: rgb(255, 255, 255);
    color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  .contacto .boton-dos:hover {
    background-color: #3d4544; 
  }

footer {
 background-image: url(fondo-textura-hormigon-negro_53876-145151.webp);
  color: #fff;
  padding: 50px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.redes a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
}
#btn-mas-informacion{
    background-color: #fff;
  color: lightseagreen;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.contacto #btn-mas-informacion:hover {
    background-color: #3d4544; 
  }

#footer-info {
    display: none; 
    background-color: rgb(198, 192, 207);
    padding: 1px 120px;
  }
 

  .abajo1 {
    color: #333333;
    margin-top: 20px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  .abajo2 {
    color: #000000;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }

