

body {
    font-family: 'Open Sans', sans-serif;
    
    margin: 0;
    padding: 0;
   background-image: url(/img/fondo-textura-hormigon-negro_53876-145151.webp);
  }
   header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 95, 95);
   padding-bottom: 2%;
    
  
    
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
  .botones{
    padding:40px 0 ;
    background-color:rgb(104, 95, 95) ;
  }

  .inicio {
    
  text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(105, 98, 98);
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
    transition: 0,5s;
  }
   



.proyectos{
  text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#ffffff;
padding-top:10px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:rgb(0, 0, 0);
border-color: rgb(105, 98, 98);
border-width: 3px;
border-style: solid;
border-radius:35px;
transition: transform 0.5s;
}


.contacto{
  text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#ffffff;
padding-top:10px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:rgb(0, 0, 0);
border-color: rgb(105, 98, 98);
border-width: 3px;
border-style: solid;
border-radius:35px;
transition: transform 0.5s;
}
 .photo img {
    border-radius: 30%;
    width: 100px;
    height: 100px;
    
   
    
    
  }
  
  

  
 
  .textoSB{
    font-size: 133%;
    

  }


  
 
  h1 {
    font-size: 3em;
    
    color: rgb(2, 2, 2);
  }
  
  section {
    background-color: gray;
    padding: 40px;
    box-shadow: 0 2px 4px black;
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .info-section, .education-section, .work-section, .skills-section {
    display: flex;
  }
  
  .info-item, .education-item, .work-item, .skill {
    flex: 1;
    margin-right: 40px;
  }
  
  
  
 
  
 


.informacion {
  background-color:  rgb(104, 95, 95);
  padding: 10px;
  text-align: center;
  
}

.titulo_info {
  color: rgb(252, 252, 252);
  font-size: 30px;
}

.texto_correo {
  color: rgb(255, 253, 253);
  font-size: 18px;
  margin-top: 10px;

}
.html-img{
max-width: 40%;

}

.css-img{
  max-width: 30%;
  
  }

  .xml-img{
    max-width: 40%;
    
    }
    .java-img{
      max-width: 40%;
      border-radius: 30%;
      transition: 0,5s;
      
      }
      
      .footer-img{
        max-width: 5%;
        margin-left: 2%;
        margin-right: 2%;
      }
      #idiomas {
        background-color: gray;
        padding: 20px;
      }
      
      #idiomas h2 {
        margin-bottom: 10px;
      }
      
      #idiomas ul {
        list-style-type: none;
      }
      
      #idiomas li {
        display: inline-block;
        margin-right: 10px;
        
      }
      
      #idiomas a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
      .img-idiomas{
        max-width: 30px;
       margin: 5px 100px 0 10px;
      }

      
        

     
    
        
      
      
    
  
  
 


