html{
    background-image: url(/img/fondo-textura-hormigon-negro_53876-145151.webp);
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid rgb(105, 98, 98);
    border-radius: 20px;
    background-color: gray;
  }
  .botones{
    padding:40px 0 ;
    

  }

  .inicio{
   
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:10px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:rgb(0, 0, 0);
    border-color: rgb(105, 98, 98);
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    }
    .proyectos{
        text-decoration:none;
      font-weight: 600;
      font-size: 20px;
      color:#ffffff;
      padding-top:10px;
      padding-bottom:15px;
      padding-left:40px;
      padding-right:40px;
      background-color:rgb(0, 0, 0);
      border-color: rgb(105, 98, 98);
      border-width: 3px;
      border-style: solid;
      border-radius:35px;
      }
      .contacto{
        text-decoration:none;
      font-weight: 600;
      font-size: 20px;
      color:#ffffff;
      padding-top:10px;
      padding-bottom:15px;
      padding-left:40px;
      padding-right:40px;
      background-color:rgb(0, 0, 0);
      border-color: rgb(105, 98, 98);
      border-width: 3px;
      border-style: solid;
      border-radius:35px;
      }

  
  label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(170, 165, 165);
    font-size: 18px;
  }
  
  input[type="submit"], input[type="reset"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0b500d;
    color: rgb(8, 253, 0);
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #259c29;
  }
  input[type="reset"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #661711;
    color: rgb(255, 0, 0);
    transition: background-color  0.3s ease;
  }
  
  input[type="reset"]:hover {
   background-color: rgb(163, 19, 19);
  }
  .footer-img{
    max-width: 5%;
    margin-left: 2%;
    margin-right: 2%;
    
  }
  
  .informacion {
    background-color:  gray;
    padding: 10px;
    text-align: center;
    
  }
  
  .titulo_info {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .container {
    max-width: 1900px;
    padding: 2%;
    
  }