@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Sansita Swashed', cursive;
}

.fondo{
  background-color: rgb(3, 3, 3);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel{
  background-color: lightseagreen;
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 3%;
}

.contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.perfil{
    height: 40%;
    width: 80%;
  border-radius: 20%;
  border: 2px 2 px solid black;
  margin-top: 2vh;
}

img{
  transition-duration: 3s;
  border-radius: 60%;
  border: 3px solid black;
  padding: 2px;
  height: 70%;
}

img:hover{
  transform:scale(1.2);
  transition-duration: 0.6s;
}

h1{
  transition-duration: 1s;
  font-size: 7vh;
}

h1:hover{
  transform:scale(1.2);
  transition-duration: 1s;
}

.menu{
  width: 18vw;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-duration: 1.5s;
  
}
a:hover{
  color: #e5330f ;
  transition-duration: 0.3s;
}

.contato{
  display: flex;
  justify-content: space-around ;
  width: 30%;
  height: 20%;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: rgb(24, 27, 27);
  color: #ffffff;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #845d5d;
  color: lightseagreen;
}




